In [1]:
import requests 
import pandas as pd

In [2]:
from bs4 import BeautifulSoup

In [5]:
url= "https://www.alzheimer-europe.org/dementia/prevalence-dementia-europe"

In [6]:
html = requests.get(url)

In [7]:
soup = BeautifulSoup(html.content, 'html.parser')

In [16]:
countries = soup.findAll('td', style="width: 162px;")

In [19]:
now = soup.findAll('td', class_="text-align-center", style="width: 174px;")

In [20]:
future = soup.findAll('td', class_="text-align-center", style="width: 160px;")

In [ ]:
[i.text for i in countries]

In [41]:
now_list = [i.text for i in now]

In [42]:
future_list = [i.text for i in future]

In [25]:
countries_list = [i.text.replace('\n','') for i in countries]

In [51]:
table = pd.DataFrame([countries_list, now_list, future_list]).T

In [52]:
table.columns=['Country','% of population in 2018', '% of population in 2050']

In [53]:
table

           Country % of population in 2018 % of population in 2050
0          Austria                    1.66                    3.18
1          Belgium                    1.69                    2.95
2         Bulgaria                    1.54                    2.47
3          Croatia                    1.60                    3.06
4           Cyprus                    1.17                    2.44
5   Czech Republic                    1.41                    2.65
6          Denmark                    1.51                    2.65
7          Estonia                    1.74                    3.06
8          Finland                    1.74                    3.13
9           France                    1.83                    3.31
10         Germany                    1.91                    3.43
11          Greece                    1.99                    3.95
12         Hungary                    1.49                    2.64
13         Ireland                    1.09                    2.49
14           Italy                    2.12                    4.13
15          Latvia                    1.74                    3.17
16       Lithuania                    1.74                    3.67
17      Luxembourg                    1.25                    2.44
18           Malta                    1.38                    3.31
19     Netherlands                    1.49                    3.15
20          Poland                    1.38                    3.23
21       Portugal                     1.88                    3.82
22         Romania                    1.43                    2.56
23        Slovakia                    1.15                    2.59
24        Slovenia                    1.65                    3.40
25           Spain                    1.83                    3.99
26          Sweden                    1.66                    2.63
27  United Kingdom                    1.56                    2.67
28            None                    1.22                    2.94
29            None                    1.56                    3.10
30            None                    1.15                    2.64
31            None                    0.94                    1.63
32            None                    1.06                    2.06
33            None                    0.89                    1.98
34            None                    1.41                    2.49
35            None                    1.62                    3.15
36            None                    0.65                     1.8

In [56]:
dementia_data = table.head(28)

In [47]:
dementia_data.to_csv('dementia_data.csv')

In [48]:
fileName = "dementia_data.csv"

In [49]:
print(fileName)

dementia_data.csv